<!doctype html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="/css/normalize.css">
      <link rel="stylesheet" href="/css/skeleton.css">
      <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
      <meta charset="utf-8">
      <style>
         body {line-height: 1.1em; font-family: 'Slabo 27px', serif; font-size: 20px;}
      </style>
      <title>
         {{ page.title }}
      </title>
   </head>
   <body>
      <div class="container">
      {{ content }}
      </div>
   </body>
</html>

